<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置抽象数据操作接口类-->
<mapper namespace="com.tony.model.mapper.DeviceImeiMapper">
    <!-- 指定方法名与参数 -->
    <insert id="insertOrUpdate" parameterType="DeviceImei">
        <!--sql语句实现-->
        insert into device_imei(
            imei, ccid, reportTime
        )
        values (
            #{imei}, #{ccid}, #{reportTime}
        )
        ON DUPLICATE KEY UPDATE
        ccid = #{ccid},
        reportTime = #{reportTime}

        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>
</mapper>